@import url('https://fonts.googleapis.com/css2?family=Bad+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=EB+Garamond:wght@500&display=swap');

p, .p-summary {
    font-family: 'EB Garamond', serif;
    font-size: 1.2em;
}

.site-title {
    font-size: 2em;
    font-family: 'Bad Script', cursive;
}

.site-subtitle {
    font-size: 0.9em;
}

p {
    padding: 10px 0px;
}

img {
    padding: 20px 0px;
}
